<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>

  <body>
    <h1>Bem-vindo ao example.com, Cerqueira</h1>
    <p>Você está recebendo este email, pois se cadastrou em nosso site</p>
  </body>
</html>
